.banner{background:url("../img/bannerBg.jpg") no-repeat center;height:400px;}
.banner-data{float:left;margin-left:30px;padding-top:30px;width:750px;}
.banner-newnews{float:right;width:345px;margin-top:20px;padding:20px;padding-top:5px;background:#007ce6;background:rgba(0,141,255,.8);border-radius:5px;}
.banner-newnews h1{line-height:40px;font-weight:bold;font-size:16px;color:#fff;border-bottom:1px dashed #10f1ff;}
.newnews{height:287px;overflow:hidden;position: relative;}
.newnews li{height:40px;line-height:40px;font-size:14px;border-bottom:1px dashed #10f1ff;color:#beecff;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.newnews li em{color:#fff;font-style:normal;}
.newnews li span{color:#ffa801;}
.newnews-masked{position:absolute;bottom:0;left:0;width:100%;background:linear-gradient(to bottom,transparent 0%,rgba(0,72,255,.6) 100%);height:130px;opacity:.7;pointer-events:none;}
.banner-data1{height:135px;border-radius:4px;background:linear-gradient(to right,rgba(0,141,255,.8) 0%,transparent 60%);padding-left:60px;position:relative;}
.banner-data1-progress{position:absolute;height:139px;width:10px;left:30px;top:-2px;background:#00c3fd;}
.banner-data1-progress .progress-bar{position:absolute;width:14px;left:-2px;background:#fff;height:2px;}
.banner-data1-num{font-size:72px;color:#fff;}
.banner-data1-text{font-size:24px;color:#fff;}
.banner-data2{float:left;}
.banner-data2 ul{}
.banner-data2 li{background:url("../img/banner-data2.png") center bottom no-repeat;color:#fff;font-size:16px;line-height:22px;padding:20px 0 10px 20px;margin-top:55px;width:280px;}
.banner-data2 li span{color:#56f1ff;font-size:24px;}
.banner-data2 li:nth-child(2) span{color:#ffbd3d;}
.banner-data3{background:url("../img/banner-data3.png") left bottom no-repeat;margin-top:25px;}
.banner-data3 ul{overflow:hidden;padding-left:30px;}
.banner-data3 li{float:left;width:245px;color:#fff;font-size:16px;line-height:22px;padding:20px 0 10px 0;}
.banner-data3 li span{color:#ffbd3d;font-size:24px;}

.catalog{background:#fff;}
.catalog-box{overflow:hidden;padding:18px 0;}
.catalog-box li{float:left;width:360px;height:65px;border:1px solid #fff;border-radius:6px;margin-left:4px;cursor:pointer;padding:20px 0 20px 30px;transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
.catalog-logo{width:65px;height:65px;float:left;background:url("../img/catalog-logo.png") no-repeat;}
.catalog-box1 .catalog-logo{background-position:-14px 0;}
.catalog-box2 .catalog-logo{background-position:-126px 0;}
.catalog-box3 .catalog-logo{background-position:-238px 0;}
.catalog-data{margin-left:13px;float:left;line-height:30px;padding-top:5px;width:200px;}
.catalog-data1{font-size:16px;font-weight:bold; display: inline-block;padding-bottom: 1px;border-bottom:1px solid #fff;transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;  }
.catalog-data2{color:#919191;font-size:14px;}
.catalog-box li:hover{background:#f3f3f3;border:1px solid #dcdcdc;transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
.catalog-box3 .catalog-data .catalog-data1{height: 35px;overflow: hidden;}
.catalog-box3 .catalog-data .catalog-data2{line-height: 10px;}
.catalog-box li.catalog-box1:hover .catalog-data1{color:#00a2ff;border-bottom:1px solid #00a2ff;}
.catalog-box li.catalog-box2:hover .catalog-data1{color:#ff921d;border-bottom:1px solid #ff921d;}
.catalog-box li.catalog-box3:hover .catalog-data1{color:#67da00;border-bottom:1px solid #67da00;}
.catalog-box li.catalog-box3 .catalog-data{padding-top:0;}
.catalog-box li.catalog-box3 .catalog-data1{line-height:18px;}
.catalog-box .catalog-box-disable{filter: grayscale(1);}

.index-cont{background:#f3f3f3;}
.index-title{text-align:center;padding-top:35px;}
.index-title p{background:url("../img/index-title2.png") right center no-repeat;padding-right:159px;height:29px;margin:0 auto;display:inline-block;}
.index-title span{background:url("../img/index-title1.png") left center no-repeat;padding:0 8px 0 166px;display:inline-block;height:29px;line-height:29px;font-size:20px;font-weight:bold;color:#157edf;}

.index-recommend{margin-top:10px;}
.index-recommendbox{height:225px;margin-top:15px;background:#fff;overflow:hidden;}
.index-recommend-color{border-radius:4px 0 0 4px;float:left;width:10px;height:100%;box-sizing:border-box;}
.index-recommend-cont{border:1px solid #c7c7c7;border-left:none;float:right;width:1190px;height:100%;border-radius:0 4px 4px 0;box-sizing:border-box;padding:15px 0;}
.index-recommend-list{overflow:hidden;height:100%;}
.index-recommend-list li{float:left;border-left:1px dashed #cdd0d8;text-align: center;height:100%;position:relative;width:239px;padding-bottom:22px;box-sizing:border-box;}
.index-recommend-list li.index-recommend-first{width:228px;border-left:none;text-align:left;padding:0 28px 0 10px;}
.index-recommend-tit{font-size:16px;color:#474747;font-weight:bold;line-height:28px;height:28px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.index-recommend-tit2{font-size:12px;color:#919191;line-height:20px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.index-recommend-logo{height:66px;padding:15px 0;}
.index-recommend-logo i{font-size:70px;line-height:96px;}
.index-recommend-logo.index-recommend-orange i{color:#ffcb18;}
.index-recommend-logo.index-recommend-blue i{color:#00c6ff;}
.index-recommend-logo.index-recommend-green i{color:#67d210;}
.index-recommend-num{color:#919191;font-size:12px;line-height:22px;}
.index-recommend-num span{color:#ff921d;}
.index-recommend-btn{position:absolute;height:22px;bottom:0;left:0;width:100%;}
.index-recommend-btn a{font-size:12px;color:#919191;line-height:18px;border-radius:10px;padding:0 15px;text-decoration:none;display:inline-block;background:#f2f2f2;border:1px solid #f2f2f2;}
.index-recommend-text{margin-top:10px;color:#919191;font-size:14px;line-height:20px;}
.index-recommend-list li.index-recommend-first .index-recommend-tit{font-size:18px;}
.index-recommend-list li.index-recommend-first .index-recommend-btn{text-align:right;}
.index-recommend-list li.index-recommend-first .index-recommend-btn a{margin-right:28px;}
.index-recommend1 .index-recommend-color{border:1px solid #1c92ff;background:#3ab7fe;background:linear-gradient(to bottom,rgba(24,171,255,.86) 0%,#0680e7 100%);}
.index-recommend1 .index-recommend-cont{background:url(../img/index-recommend1.gif) no-repeat 10px 10px;}
.index-recommend1 li.index-recommend-first .index-recommend-tit{color:#18abff;}
.index-recommend1 .index-recommend-btn a{transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
.index-recommend1 .index-recommend-btn a:hover{border:1px solid #0681ff;background:#00a2ff;color:#fff;transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;}
.index-recommend2 .index-recommend-color{border:1px solid #ff9600;background:#ffb700;background:linear-gradient(to bottom,#ffba00 0%,#ff8400 100%);}
.index-recommend2 .index-recommend-cont{background:url(../img/index-recommend2.gif) no-repeat 10px 10px;}
.index-recommend2 li.index-recommend-first .index-recommend-tit{color:#ffba00;}
.index-recommend2 .index-recommend-btn a:hover{border:1px solid #ff9600;background:#ffb700;color:#fff;}
.index-recommend3 .index-recommend-color{border:1px solid #18c107;background:#64d800;background:linear-gradient(to bottom,#67da00 0%,#19ab0a 100%);}
.index-recommend3 .index-recommend-cont{background:url(../img/index-recommend3.gif) no-repeat 10px 10px;}
.index-recommend3 li.index-recommend-first .index-recommend-tit{color:#67da00;}
.index-recommend3 .index-recommend-btn a:hover{border:1px solid #18c107;background:#64d800;color:#fff;}
.index-bottom{overflow:hidden;}
.index-contents{float:left;width:590px;}
.index-popular{float:right;width:590px;}

.index-contents-module{background:#fff;border-radius:5px;padding:20px;margin-top:20px;height:475px;}
.index-contents-module ul{border-top:1px dashed #d9dfe8;}
.index-contents-module li{border-bottom:1px dashed #d9dfe8;height:73px;padding:10px;}
.index-contents-tit{font-size:14px;color:#474747;font-weight: bold;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;height:20px;line-height:20px;}
.index-contents-tit a{color:#474747;text-decoration: none;}
.index-contents-tit a:hover,.index-popularl-tit a:hover{border-bottom: 1px solid #474747;}
.index-contents-news{font-size:14px;color:#303030;line-height:26px;}
.index-contents-news span{color:#919191;width:86px;display: inline-block;}
.index-popularbox{padding-top:20px;overflow:hidden;}
.index-popular-module{background:#fff;border-radius:5px;padding:20px;height:475px;}
.index-popular-module h1{font-size:16px;color:#474747;}
.index-popular-module h1 span{color:#ffa70e;}
.index-popular-module ul{border-top:1px dashed #d9dfe8;}
.index-popular-module li{border-bottom:1px dashed #d9dfe8;overflow:hidden;line-height:20px;}
.index-popular-module li em{float:left;width:28px;height:58px;background:url("../img/index-popular.png") no-repeat left center;}
.index-popular-module ul li:nth-child(1) em{background:url("../img/index-popular1.png") no-repeat left center;}
.index-popular-module ul li:nth-child(2) em{background:url("../img/index-popular2.png") no-repeat left center;}
.index-popular-module ul li:nth-child(3) em{background:url("../img/index-popular3.png") no-repeat left center;}
.index-popularl{float:left;width:260px;padding:18px 10px 18px 0;}
.index-popularl-tit{color:#474747;font-size:14px;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;height:20px;}
.index-popularl-tit a{color:#474747;text-decoration: none;}
.index-popularl-address{color:#919191;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;height:20px;}
.index-popularl-address span{color:#303030;}
.index-popularc{float:left;padding:18px 0;width:150px;}
.index-popularr{float:right;width:60px;font-size:12px;color:#919191;text-align:right;padding:18px 0;width:100px;}
.index-popularr span{color:#ff9600;}
.index-chart{width:380px;height:350px;float:left;}