<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>右侧菜单</title>
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/commonn.css">
</head>
<body>
<div class="right-bar">
    <div class="right-bar-list">
        <h2 class="h2-title">目录访问<span>Top5</span></h2>
        <ul class="ul-list">
            <li class="clearfix">
                <i class="fl i-medal icon iconfont icon-jiangpai-"></i>
                <div class="fl div-nedal-content">
                    <h3>计量标准器具核准</h3>
                    <p>信息提供方：<span>福建省</span></p>
                </div>
            </li>
            <li class="clearfix">
                <i class="fl i-medal icon iconfont icon-jiangpai-1"></i>
                <div class="fl div-nedal-content">
                    <h3>计量标准器具核准</h3>
                    <p>信息提供方：<span>福建省</span></p>
                </div>
            </li>
            <li class="clearfix">
                <i class="fl i-medal icon iconfont icon-jiangpai-2"></i>
                <div class="fl div-nedal-content">
                    <h3>计量标准器具核准</h3>
                    <p>信息提供方：<span>福建省</span></p>
                </div>
            </li>
            <li class="clearfix">
                <i class="fl i-medal icon iconfont icon-jinduyuan"></i>
                <div class="fl div-nedal-content">
                    <h3>计量标准器具核准</h3>
                    <p>信息提供方：<span>福建省</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-bar-box">
        <h2>资源交换 <span>Top5</span><i class="icon iconfont icon-arrow-t fr"></i></h2>
    </div>
    <div class="right-bar-box">
        <h2>资源下载 <span>Top5</span><i class="icon iconfont icon-arrow-t fr"></i></h2>
    </div>
    <div class="right-bar-box">
        <h2>资源调用 <span>Top5</span><i class="icon iconfont icon-arrow-t fr"></i></h2>
    </div>
</div>
</body>
</html>