<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左侧菜单</title>
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/commonn.css">
</head>
<body>
<div class='left-bar'>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-fujinrenzhanjie"></i>国家人口基础信息资源</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-qiye"></i>法人单位基础信息资源</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-ye"></i>自然资源和空间地理基础信息资源</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-xin1"></i>社会信用基础信息资源</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-ren"></i>电子证照基础信息资源</a>
    </div>
</div>
<script src="../../js/common/jquery.js"></script>
<script src="../../js/common/common.js"></script>
</body>
</html>