<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门资源-左侧菜单</title>
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/commonn.css">
</head>
<body>
<div class='left-bar'>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-jiankangxin"></i>国务院<i class="icon iconfont icon-arrow-t"></i></a>
        <div class="clickable-content two-catalog">
            <a class="clickable2"><em></em>外交部<i class="icon iconfont icon-arrow-t"></i></a>
            <div class="clickable-content three-catalog dn">
                <a>条法</a>
                <a>新闻</a>
            </div>
            <a class="clickable2"><em></em><span>国家发展和改革委员会</span><i class="icon iconfont icon-arrow-t"></i></a>
            <a class="clickable2"><em></em><span>工业和信息化部</span><i class="icon iconfont icon-arrow-t"></i></a>
        </div>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-zhufang"></i>党中央</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-shehuibaozhang"></i>全国人大常委</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-guojiaanquanyaopin"></i>全国政协</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-shipinanquanicon"></i>最高人民法院</a>
    </div>
    <div class="one-catalog">
        <a class="clickable"><i class="icon iconfont icon-shipinanquanicon"></i>最高人民检察院</a>
    </div>
</div>
<script src="../../js/common/jquery.js"></script>
<script src="../../js/common/common.js"></script>
</body>
</html>