<!--IE8只能支持jQuery1.9-->
<!--[if lte IE 8]>
<script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../../js/common/jquery.min.js"></script>
<script type="text/javascript"  src="../../js/common/jquery.xdomainrequest.min.js"></script>
<script type="text/javascript"  src="../../js/common/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/common/handlebars.js"></script>
<script type="text/javascript" src="../../js/common/common.js"></script>