<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏订阅-左侧菜单</title>
    <link rel="stylesheet" href="../../css/iconfont.css">
    <link rel="stylesheet" href="../../css/commonn.css">
</head>
<body>
<div class='left-bar left-bar-noheight'>
    <div class="one-catalog">
        <a class="clickable" href="../subscription/collection.html"><i class="icon iconfont icon-L1 icon-tbegin"></i>我的收藏</a>
    </div>
    <div class="one-catalog">
        <a class="clickable" href="../subscription/subscription.html"><i class="icon iconfont icon-dingyue icon-tbegin"></i>我的订阅</a>
    </div>
</div>
<script src="../../js/common/jquery.js"></script>
<script src="../../js/common/common.js"></script>
</body>
</html>